In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
df.shape

(50, 5)

### Check the unique values for the columns

In [6]:
df['review'].unique()

array(['Average', 'Poor', 'Good'], dtype=object)

In [7]:
df['education'].unique()

array(['School', 'UG', 'PG'], dtype=object)

In [8]:
df['purchased'].unique()

array(['No', 'Yes'], dtype=object)

- We can see 'age' column is numerical and rest of the columns are categorical
- From categorical columns we will apply Ordinal Encording on 'review' and 'education' column and will apply LabelEncorder on 'purchased' column

In [9]:
df = df.iloc[:,2:]

In [10]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:-1], df.iloc[:,-1])

In [12]:
X_train.head()

   review education
19   Poor        PG
31   Poor    School
22   Poor        PG
38   Good    School
17   Poor        UG

In [13]:
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder

In [14]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School', 'UG', 'PG']])

In [15]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [16]:
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

In [17]:
X_train

array([[0., 2.],
       [0., 0.],
       [0., 2.],
       [2., 0.],
       [0., 1.],
       [1., 2.],
       [0., 2.],
       [0., 0.],
       [2., 2.],
       [1., 0.],
       [0., 1.],
       [1., 1.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [0., 1.],
       [2., 2.],
       [1., 1.],
       [2., 2.],
       [2., 0.],
       [0., 2.],
       [0., 0.],
       [2., 1.],
       [0., 0.],
       [2., 0.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [2., 1.],
       [1., 1.],
       [1., 1.],
       [2., 0.],
       [2., 1.],
       [1., 1.],
       [2., 0.],
       [0., 2.]])

In [18]:
label_enc = LabelEncoder()

In [19]:
label_enc.fit(y_train)

LabelEncoder()

In [20]:
y_train = label_enc.transform(y_train)
y_test = label_enc.transform(y_test)

In [21]:
y_train

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0])